$blue: #7e9cd8;
$indigo: #957fb8;

$purple: #938aa9;

$pink: #d27e99;
$red: #ff5d62;

$orange: #ffa066;
$yellow: #dca561;
$green: #76946a;
$teal: #6a9589;
$cyan: #7aa89f;
$white: #c8c093;
$gray: #717c7c;
$gray-dark: #727169;
$primary: #363646;
$secondary: #1f1f28;
$success: #2b3328;
$info: #54546d;
$warning: #dca561;
$danger: #c34043;
$light: #dcd7ba;
$dark: #252535;

@import "~bootstrap/scss/bootstrap";
@import "~css.gg/icons/all.css";
@import url("https://css.gg/css");

$background-darker: #16161d;
$background: #1f1f28;

body {
  background-color: $background;
  color: #dcd7ba;
}

a {
  color: #2d4f67;
}

a:hover {
  color: $light;
}

.navbar {
  margin-bottom: 0 !important;
}

.editor {
  padding: 0.6em;
  display: flex;
  height: calc(100vh - 74px);
  .pane {
    display: flex;
    flex-basis: 50%;
    margin: 0.6em;
    display: flex;
    height: 100%;
    border: 0;
    color: #dcd7ba;
  }
  #markdown {
    padding: 0.6em;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    background-color: $background-darker;
    flex-grow: 1;
    flex-shrink: 1;
    resize: none;
  }

  #preview {
    padding: 0.6em;
    // border: 1px solid #ccc;
    background-color: $background-darker;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

textarea {
  background-color: inherit;
  color: inherit;
}
