$blue: #7e9cd8;
$indigo: #957fb8;

$purple: #938aa9;

$pink: #d27e99;
$red: #ff5d62;

$orange: #ffa066;
$yellow: #dca561;
$green: #76946a;
$teal: #6a9589;
$cyan: #7aa89f;
$white: #dcd7ba;
$gray: #717c7c;
$gray-dark: #727169;
$primary: #363646;
$secondary: #1f1f28;
$success: #2b3328;
$info: #54546d;
$warning: #dca561;
$danger: #c34043;
$light: #dcd7ba;
$dark: #252535;

$font-dimmed: #716f6b;
$font: #dcd7ba;

$yellow: #ff9e3b;

$red: #e82424;

@import "~bootstrap/scss/bootstrap";
@import "~css.gg/icons/all.css";
@import url("https://css.gg/css");

$background-darker: #16161d;
$background: #1f1f28;
$background-lighter: #2a2a37;

body {
  background-color: $background;
  color: #dcd7ba;
}

.btn.disabled {
  background-color: $background;
  color: #dcd7ba;
  pointer-events: none;

  &:hover {
    background-color: $background;
    color: #dcd7ba;
  }

  &:focus {
    background-color: $background;
    color: #dcd7ba;
  }
}

a {
  color: #2d4f67;
}

a:hover {
  color: $light;
}

.navbar {
  margin-bottom: 0 !important;
}

.hidden {
  display: none !important;
}

.pane {
  position: relative;
  display: flex;
  flex-basis: 100%;
  margin-left: 0.6em;
  margin-right: 0.6em;
  display: flex;
  height: 100%;
  border: 0;
  color: #dcd7ba;
  .buttons {
    top: 0.3em;
    right: 0.3em;
    margin: 0.3em;
    position: absolute;
  }
}
.editor {
  display: flex;
  height: calc(100vh - 1.2em);

  /* Track */
  ::-webkit-scrollbar-track {
    background: $background-darker;
  }
  .markdown {
    padding: 0.6em;
    border: 1px solid $success;
    border-radius: 4px;
    overflow: auto;
    background-color: $background-darker;
    flex-grow: 1;
    flex-shrink: 1;
    resize: none;
    outline: none;
    &:focus {
      border-color: $background-darker;
      transition: border-color 0.2s ease-in-out;
    }

    transition: border-color 0.2s ease-in-out;
  }
}

.preview {
  padding: 0.6em;
  margin-bottom: 0.6em;
  // border: 1px solid #ccc;
  background-color: $background-darker;
  border-radius: 4px;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid $background-darker;
  border-radius: 4px;
  hr {
    background-color: $white;
    height: 2px;
  }

  h1 {
    color: $yellow;
  }

  code {
    color: $red;
  }

  &.changed {
    border-color: #76946a;
    transition: border-color 0.2s ease-in-out;
  }
}

textarea {
  background-color: inherit;
  color: inherit;
}

.table {
  background-color: #dcd7ba;
}

#help {
  &.hidden {
    display: none;
  }
  margin: 0;
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $red;
  list-style-type: none;
  // first span in li
  li > span:first-child {
    display: inline-block;
    width: 20px;
    color: $white;
    font-weight: bold;
  }
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
.main {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  &__sidebar {
    background-color: $background-lighter;
    color: #dcd7ba;
    min-height: 100vh;
    .sidebar {
      display: flex;
      flex-direction: column;
      .sidebar__menu {
        align-items: center;
        display: flex;
        flex-direction: column;
        &__item {
          position: relative;
          &:hover {
            .sidebar__menu__item__tooltip {
              transition-delay: 0.2s;
              visibility: visible !important;
            }
          }
          &__tooltip {
            visibility: hidden;
            width: 120px;
            background-color: $background-lighter;
            color: $font-dimmed;
            font-size: 0.3em;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            position: absolute;
            z-index: 10000;
            left: 115%;
            top: 20%;
          }
          &--active {
            border-left: 2px solid $font;
            a {
              color: $font !important;
            }
          }
        }
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
          padding: 0.6em;
          font-size: 2em;
          &:hover {
            a {
              color: $font;
            }
          }
          a {
            color: $font-dimmed;
          }
        }
      }
    }
  }

  &__content {
    flex: 1 1 auto;
    padding-top: 0.7em;
  }
}

.calendar {
  padding: 0.6em;
  &__month {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $background-darker;
    background-color: $font;
    .calendar__week {
      display: flex;
    }
  }
}

.alert-popup {
  position: absolute;
  top: 0;
  right: 0;

  .alert {
    position: relative;
    z-index: 10000;
  }
}
#hideMe {
  -webkit-animation: cssAnimation 5s forwards;
  animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.calendar-wrapper {
  font: 100% system-ui;
}

.calendar-header {
  color: $background-lighter;
  padding: 0.5em;
  text-align: center;
}

.calendar,
.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;

  & li a {
    text-decoration: none;
  }

  li:nth-child(7n - 1),
  li:nth-child(7n) {
    color: $red;
    font-weight: bold;
    background: $background-darker;
    a {
      text-decoration: none;
      color: $font-dimmed !important;
    }
    .calendar--number {
      color: $red;
    }
    .calendar--day {
      background: $background-darker;
    }
  }
  &--day {
    margin: 1px;
    min-height: 100px;
    height: 100%;
    color: #54546d;
    a {
      text-decoration: none;
      color: $font !important;
    }
    padding: 8px;
    border: 3px solid $background-lighter;
    position: relative;
    display: flex;
    .calendar--number {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5em;
    }
    .calendar--content {
      align-self: flex-end;
    }
    &.active {
      border-color: #2d4f67;
      color: $font !important;
    }
    &:hover {
      transition: border-color 0.2s ease-in-out;
      border-color: #98bb6c;
      & .calendar--content {
        transition: color 0.2s ease-in-out;
        color: $font !important;
      }
    }
  }
}

.first-day {
  grid-column-start: 3;
}

.day-name {
  background: #eee;
}

.note-table {
  .note-card {
    min-height: 100px !important;
    height: 100%;
    width: 100%;
    &__note {
      height: 100%;
    }
  }
}

.preview-note {
  &__title {
    color: $yellow;
  }
  &__tags {
    & a {
      padding: 0.2em;
      border: 1px solid $background-lighter;
      text-decoration: none;
      color: black;
      background-color: $background-lighter;
    }
  }
}
.tag {
  padding: 0.2em;
  border: 1px solid $background-lighter;
  border-radius: 3px;
  text-decoration: none;
  color: black;
  background-color: $background-lighter;
}
// .icon-picker {
// color: $background-lighter;
// background-color: $font;
// position: relative;
// padding: 0.5em;
// cursor: pointer;
// &__selected {
// &::after {
// content: "▼";
// position: absolute;
// right: 0;
// top: 20%;
// }
// }
// &__options {
// display: flex;
// padding: 0.5em;
// border: 1px solid $background-lighter;
// border-radius: 5px;
// position: absolute;
// top: 130%;
// left: -170%;
// background-color: $font;
// width: 200px;
// }
// }

.icon-input {
  display: none;
  & + .icon-input-lable {
  }
  &:checked + .icon-input-lable {
    font-weight: bold;
    color: $pink;
  }
}

.calendar--content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__tags {
    display: flex;
    flex-wrap: wrap;
    & .tag {
      margin-right: 2px;
    }
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
  }

  &__events {
    display: flex;
  }
}
